{{!-- Welcome Banner Connector for below-site-header-outlet --}}
{{#if site.mobileView}}
  {{!-- Mobile version --}}
  <div class="below-site-header-outlet search-banner welcome-banner groqsters-welcome-banner">
    <div class="welcome-banner__inner-wrapper">
      <div class="wrap custom-search-banner-wrap welcome-banner__wrap">
        <div class="custom-search-banner-headline">
          {{#if currentUser}}
            Welcome back, {{currentUser.username}}!
          {{else}}
            Welcome to Our Community
          {{/if}}
        </div>
        <p>Find help, share your knowledge, and experience fast inference</p>
        <div class="search-menu welcome-banner__search-menu">
          <div class="search-menu-container menu-panel-results">
            <div class="search-input-wrapper">
              <div class="search-input search-input--">
                <input id="custom-search-input" class="search-term__input" autocomplete="off" enterkeyhint="search" placeholder="Search" aria-label="Search" type="search">
                <div class="searching">
                  <button class="btn no-text btn-icon show-advanced-search btn-transparent" title="Open advanced search" type="button">
                    <svg class="fa d-icon d-icon-sliders svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                      <use href="#magnifying-glass"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{!-- Desktop version --}}
  <div class="below-site-header-outlet search-banner welcome-banner groqsters-welcome-banner">
    <div class="custom-search-banner welcome-banner__inner-wrapper">
      <div class="wrap custom-search-banner-wrap welcome-banner__wrap">
        <div class="custom-search-banner-headline">
          {{#if currentUser}}
            Welcome back, {{currentUser.username}}!
          {{else}}
            Welcome to Our Community
          {{/if}}
        </div>
        <p>Find help, share your knowledge, and experience fast inference</p>
        <div class="search-menu welcome-banner__search-menu">
          <a href="/search?expanded=true" class="btn no-text btn-icon btn search-icon" title="Open advanced search">
            <svg class="fa d-icon d-icon-magnifying-glass svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
              <use href="#magnifying-glass"></use>
            </svg>
          </a>
          <div class="search-menu-container menu-panel-results">
            <div class="search-input-wrapper">
              <div class="search-input search-input--">
                <input id="custom-search-input" class="search-term__input" autocomplete="off" enterkeyhint="search" placeholder="Search" aria-label="Search" type="search">
                <div class="searching">
                  <button class="btn no-text btn-icon show-advanced-search btn-transparent" title="Open advanced search" type="button">
                    <svg class="fa d-icon d-icon-sliders svg-icon svg-string" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                      <use href="#sliders"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}